body {
    color: blue;
    width:100%;
    background-color: black;
}

h1 {
    color: orange;
    font-size: 20px;
    font-family: fantasy;
    font-style: italic;
    text-align: center
}

h2 {
    color: red;
    font-size: 40px;
    font-family: fantasy;
    font-style: oblique;
    text-align: center
}

p {
    color: blue;
    font-family: fantasy;
    font-style: inherit;
    text-align: center
}

.center {
    border: 5px solid rgb(167, 10, 10);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

div { text-align: center; }
ol { display: inline-block; text-align: left; }